/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Colors
$color-text-dark: #442c2e;
$color-text-light: #fff;

$color-primary: #feeae6;
$color-accent: #fedbd0;


// Breakpoints
$break-s: 320px;
$break-m: 768px;
$break-l: 1024px;
