/* ============================================= */
/*              Image Styles                     */
/* ============================================= */

.gallery {
  @include flexy($wrap: wrap);
  padding: 10px 0;
  @include mq($break-l) {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.gallery--thumbs-container {
  @include flexy;
  padding: 22px;
  @include mq($break-m) {
    flex-basis: 33.3%;
  }
  @include mq($break-l) {
    flex-basis: 25%;
  }
}
