/* ============================================= */
/*              Searchbar Styles                 */
/* ============================================= */

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.searchbar--input-container {
  position: relative;
}

.searchbar--input {
  flex-basis: 280px;
  min-height: 56px;
  padding: 16px 40px;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  &:hover {
    border: 1px solid $color-accent;
  }
  &:focus {
    background: $color-text-light;
    border: 1px solid $color-accent;
    outline: none;
  }
}

.searchbar--search-icon {
  position: absolute;
  top: 17px;
  left: 9px;
}

.searchbar--cancel-icon {
  position: absolute;
  top: 16px;
  right: 9px;
  cursor: pointer;
  visibility: hidden;
}
