/* ============================================= */
/*              Searchbar Styles                 */
/* ============================================= */

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbar--input {
  flex-basis: 80%;
}
