/* ============================================= */
/*              Searchbar Styles                 */
/* ============================================= */

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0 10px;
}

.searchbar--input {
  flex-basis: 280px;
}

.searchbar--input {
  min-height: 56px;
  padding: 16px 12px;
  background-color: #feeae6;
  border: 1px solid #feeae6;
  &:hover {
    border: 1px solid #fedbd0;
  }
  &:focus {
    background: white;
    border: 1px solid #fedbd0;
    outline: none;
  }
}
