/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */
