/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: 'Rubik', sans-serif;
  color: #442c2e;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */

.searchbar--input {
  &::placeholder {
    color: #442c2e;
  }
}
