/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: 'Rubik', sans-serif;
  color: $color-text-dark;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */

.searchbar--input {
  &::placeholder {
    color: $color-text-dark;
  }
}

.lb-caption {
  color: $color-text-light;
}
